@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

body, p{
    background-color: black;
    font-family: 'VT323', monospace;
    color: #29CF29;
    font-size:10px;
    margin: 10px 50px;
    letter-spacing: 0;
    text-shadow: 0 0 1px #29CF29;
}

h1 {
    text-align: center;
}

.mainContainer{
    width: 90%;
    display: flex;
}

.attempts{

}

a{
    text-decoration: none;
    color: #29CF29;
}

a:hover{
    color:black;
    background-color: white;
    text-shadow: none;

}

li{
    list-style: none;
}

.closer{
    margin-top: 0;
    margin-bottom: 0;
}


