@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

body {
    background-color: black;
    font: 8px 'VT323', monospace;
    color: #29CF29;
    letter-spacing: 0;
    background-image: radial-gradient(rgba(0, 150, 0, 0.75), black 80%);
    height: 100vh;
    margin: 2em;
    overflow: hidden;
    padding: 0 1em;
    text-shadow: 0 0 5px #29CF29;
}

body::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: repeating-linear-gradient(
            0deg,
            rgba(0, 0, 0, 0.15),
            rgba(0, 0, 0, 0.15) 1px,
            transparent 1px,
            transparent 2px
    );
    pointer-events: none;
}

h1 {
    font-size: 15px;
    text-align: center;
}

.content{
    margin: 0;
    padding: 0;
}

.main-container {
    width: 90%;
    margin: 2em 0 2em 2em;
    height: 78px;
    display: flex;
    justify-content: space-between;
    position: relative;
}

#typed-text {
    width: 40%;
    /*overflow: auto;*/
    display:inline;
    word-break: break-all;
    column-width: 100px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.sidebar {
    position: absolute;
    bottom: 8%;
    right: 12%
}

.attempts {
    text-align: center;
}

a {
    text-decoration: none;
    color: #29CF29;
}

a:hover {
    color: black;
    background-color: #29CF29;
    text-shadow: none;
}

ul{
    padding: 0;
}

li {
    list-style: none;
    margin-left: 0;
}

.long-link{
    width: 100%;
    padding: 0 80% 0 0;
}

.closer {
    margin-top: 0;
    margin-bottom: 0;
}

@-webkit-keyframes blinker {
    from {
        opacity: 1.0;
    }
    to {
        opacity: 0.0;
    }
}

.blinking {
    margin-left: -5px;
    text-decoration: blink;
    -webkit-animation-name: blinker;
    -webkit-animation-duration: 250ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-direction: alternate;
}




