<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to the Terminal</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <script th:src="@{/js/jquery-3.6.0.js}"></script>
</head>
<body>

<!--<div id="typed-text"></div>-->

<h1>Accessing Terminal <span th:text="${id}"></span></h1>

<p class="attempts">Attempts left: ▮ ▮ ▮</p>
<div class="mainContainer">
    <ul>
        <li class="word-option" th:each="word : ${words}" th:id="${word.correct}">
            <a href="#" th:text="${word.word}"></a>
        </li>
    </ul>
    <div class="sidebar">
        <p id="word-clicked-copy">WORD CLICKED</p>
        <p id="entry-granted">entry denied</p>
        <p id="likeness">LIKENESS</p>
    </div>

</div>

<script th:src="@{/js/script.js}"></script>


</body>
</html>