<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to the Terminal</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <script th:src="@{/js/jquery-3.6.0.js}"></script>
</head>
<body>



<h1>Accessing Terminal <span th:text="${id}"></span></h1>

<p class="attempts">Attempts left: ▮ ▮ ▮</p>
<div class="main-container">
    <div id="typed-text"></div>
<!--    <ul>-->
<!--        <li class="word-option" th:each="word : ${words}" th:id="${word.correct}">-->
<!--            <a href="#" th:text="${word.word}"></a>-->
<!--        </li>-->
<!--    </ul>-->
    <div class="sidebar">
        <div id="guess-details"></div>
        <p class="closer" id="hover-guess"><span class="blinking">▮</span></p>
    </div>
</div>

<script th:inline="javascript">
    let newWordsList = [];
    let correctWord = "";
    let correctBool;

    /*[# th:each="word : ${words}"]*/

    newWordsList.push("[(${word.name})]");

    correctBool = "[(${word.correct})]";
    console.log(correctBool)

    if (correctBool == "true"){
        correctWord = "[(${word.name})]";
    }
    /*[/]*/

</script>
<script th:src="@{/js/script.js}"></script>


</body>
</html>